@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using WebsiteFJW.Controllers

@inject IStringLocalizer<HomeController> Localizer
@inject IViewLocalizer ViewLocalizer
@{
	ViewData["Title"] = ViewLocalizer["title"];
	ViewBag.PCurrent = "features";
	ViewBag.CCurrent = "typography";
}
@section Styles {
}
@section Scripts {
}

<div class="top_panel_title_wrap">
	<div class="content_wrap">
		<div class="top_panel_title">
			<div class="page_title">
				<h1 class="page_caption">@ViewLocalizer["title"]</h1>
			</div>
			<div class="breadcrumbs">
				<a class="breadcrumbs_item home" href="/">@Localizer["menu1"]</a>
				<span class="breadcrumbs_delimiter"></span>
				<a class="breadcrumbs_item cat_post">@Localizer["menu5"]</a>
				<span class="breadcrumbs_delimiter"></span>
				<span class="breadcrumbs_item current">@ViewLocalizer["title"]</span>
			</div>
		</div>
	</div>
</div>
<div class="body sidebar_show sidebar_right">
	<div class="wrap">
		<div class="content">
			<article id="post-8" class="post_item_single post_type_page post-8 page type-page">
				<div class="post_content entry-content">
					<div class="row">
						<div class="wpb_column vc_column_container column-12_12">
							<div class="vc_column-inner ">
								<div class="wpb_wrapper">
									<div class="wpb_text_column wpb_content_element ">
										<div class="wpb_wrapper">
											<h1>H1 Heading</h1>
											<p>
												Donec sit amet imperdiet ex. Ut lorem libero, pulvinar in diam non, efficitur blandit justo. Proin sed ligula lacinia, iaculis metus id, tempus tellus. Morbi gravida luctus placerat. Vestibulum tortor nibh, bibendum ac eleifend at, consequat
												quis nulla.
											</p>
											<h2>H2 Heading</h2>
											<p>
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec arcu dui. Sed porta odio massa. Mauris ornare diam vitae nisl dapibus facilisis. Morbi eleifend sagittis luctus. Donec sit amet imperdiet ex. Ut lorem libero, pulvinar in
												diam non, efficitur blandit justo.
											</p>
											<h3>H3 Heading</h3>
											<p>
												Morbi eleifend sagittis luctus. Donec sit amet imperdiet ex. Ut lorem libero, pulvinar in diam non, efficitur blandit justo. Proin sed ligula lacinia, iaculis metus id, tempus tellus. Morbi gravida luctus placerat. Vestibulum tortor nibh,
												bibendum ac eleifend at, consequat quis nulla.
											</p>
											<h4>H4 Heading</h4>
											<p>
												Donec sit amet imperdiet ex. Ut lorem libero, pulvinar in diam non, efficitur blandit justo. Proin sed ligula lacinia, iaculis metus id, tempus tellus. Morbi gravida luctus placerat. Vestibulum tortor nibh, bibendum ac eleifend at, consequat
												quis nulla.
											</p>
											<h5>H5 Heading</h5>
											<p>
												Morbi eleifend sagittis luctus. Donec sit amet imperdiet ex. Ut lorem libero, pulvinar in diam non, efficitur blandit justo. Proin sed ligula lacinia, iaculis metus id, tempus tellus. Morbi gravida luctus placerat. Vestibulum tortor nibh,
												bibendum ac eleifend at, consequat quis nulla.
											</p>
											<h6>H6 Heading</h6>
											<p>
												Aenean porta nisi sem, in sagittis est sollicitudin sed. Curabitur id nisl ipsum. Etiam ultrices quis magna vel scelerisque nulla vehicula loremcondim. Vestibulum tortor nibh, bibendum ac eleifend at, consequat quis nulla. Sed porttitor
												condimentum velit eget mattis.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="wpb_column vc_column_container column-12_12">
							<div class="vc_column-inner ">
								<div class="wpb_wrapper">
									<div class="wpb_text_column wpb_content_element ">
										<div class="wpb_wrapper">
											<hr />
											<h2>Standard Inline Elements</h2>
											<p>
												<strong>Bold text</strong> dolor sit amet, consectetur <span class="trx_addons_accent">accent color</span> adipisicing elit, <span class="trx_addons_dark">hovered accents</span> sed do eiusmod tempor hovered ut labore et dolore magna aliqua.
												Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea dafault link color consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
												occaecat cupidatat non proident <span class="trx_addons_accent_bg">sunt in culpa qui</span> officia deserunt mollit anim id est laborum.
											</p>
											<p><em>Italic text</em> example iste natus error sit voluptatem italic text example doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore vei <span class="trx_addons_tooltip" data-tooltip="Tooltip text">architecto</span>															beatae explicabo. Nemo enptatem quia oluptas sit aspernatur Tooltip Title aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
											<hr />
											<h2>Dropcaps</h2>
											<div class="dummy"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="wpb_column vc_column_container column-6_12">
							<div class="vc_column-inner ">
								<div class="wpb_wrapper">
									<div class="wpb_text_column wpb_content_element ">
										<div class="wpb_wrapper">
											<p>
												<span class="trx_addons_dropcap trx_addons_dropcap_style_1">L</span>orem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec arcu dui. Sed porta odio massa. Mauris ornare diam vitae nisl dapibus facilisis. Morbi eleifend sagittis
												luctus. Lorem ipsum dolor sit amet.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div><div class="wpb_column vc_column_container column-6_12">
							<div class="vc_column-inner ">
								<div class="wpb_wrapper">
									<div class="wpb_text_column wpb_content_element ">
										<div class="wpb_wrapper">
											<p>
												<span class="trx_addons_dropcap trx_addons_dropcap_style_2">L</span>orem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec arcu dui. Sed porta odio massa. Mauris ornare diam vitae nisl dapibus facilisis. Morbi eleifend sagittis
												luctus. Lorem ipsum dolor sit amet.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="wpb_column vc_column_container column-12_12">
							<div class="vc_column-inner ">
								<div class="wpb_wrapper">
									<div class="wpb_text_column wpb_content_element ">
										<div class="wpb_wrapper">
											<hr />
											<h2>Blockquotes</h2>
											<p>
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec arcu dui. Sed porta odio massa. Mauris ornare diam vitae nisl dapibus facilisis. Morbi eleifend sagittis luctus. Donec sit amet imperdiet ex. Ut lorem libero, pulvinar in
												diam non, efficitur blandit justo. Proin sed ligula lacinia, iaculis metus id, tempus tellus. Morbi gravida luctus placerat. Vestibulum tortor nibh, bibendum ac eleifend at, consequat quis nulla
											</p>
											<blockquote class="trx_addons_blockquote_style_1">
												<p>
													The difference between what we do and what we are capable of doing would suffice to solve most of the world’s problems
												</p>
												<p>
													<a href="#">&#8211; Mahatma Gandhi</a>
												</p>
											</blockquote>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="wpb_column vc_column_container column-12_12">
							<div class="vc_column-inner ">
								<div class="wpb_wrapper">
									<div class="wpb_text_column wpb_content_element ">
										<div class="wpb_wrapper">
											<hr />
											<h2>Image alignment</h2>
											<p>
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec arcu dui. Sed porta odio massa. Mauris ornare diam vitae nisl dapibus facilisis. Morbi eleifend sagittis luctus. Donec sit amet imperdiet ex. Ut lorem libero, pulvinar in
												diam non, efficitur blandit justo.
											</p>
											<figure id="attachment_100" style="width: 300px" class="wp-caption alignleft">
												<img class="size-medium wp-image-100" src="images/image-9-300x180.jpg" alt="Title of the image" width="300" height="180" />
												<figcaption class="wp-caption-text">Title of the image</figcaption>
											</figure>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec arcu dui. Sed porta odio massa. Mauris ornare diam vitae nisl dapibus facilisis.</p>
											<p>Donec sit amet imperdiet ex. Ut lorem libero, pulvinar in diam non, efficitur blandit justo. Proin sed ligula lacinia, iaculis metus id, tempus tellus.</p>
											<p>
												<img class="alignright wp-image-156 size-laon_wine_house-thumb-small" src="images/image-13-270x169.jpg" alt="image-13" width="270" height="169" />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec arcu dui. Sed porta odio
												massa. Mauris ornare diam vitae nisl dapibus facilisis.
											</p>
											<p>Morbi eleifend sagittis luctus. Donec sit amet imperdiet ex. Ut lorem libero, pulvinar in diam non, efficitur blandit justo.</p>
											<p>
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec arcu dui. Sed porta odio massa. Mauris ornare diam vitae nisl dapibus facilisis. Morbi eleifend sagittis luctus. Donec sit amet imperdiet ex. Ut lorem libero, pulvinar in
												diam non, efficitur blandit justo.
											</p>
											<hr />
											<h2>List Styles</h2>
											<div class="dummy"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="wpb_column vc_column_container column-4_12">
							<div class="vc_column-inner ">
								<div class="wpb_wrapper">
									<div class="wpb_text_column wpb_content_element ">
										<div class="wpb_wrapper">
											<ul class="trx_addons_list trx_addons_list_circle trx_addons_list_dot_red">
												<li>Suspendisse dignissim</li>
												<li>Nullam efficitur nunc</li>
												<li>Etiam eu lectus at lectus</li>
												<li>Etiam lobortis metus</li>
												<li>In eget augue vel odio</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div><div class="wpb_column vc_column_container column-4_12">
							<div class="vc_column-inner ">
								<div class="wpb_wrapper">
									<div class="wpb_text_column wpb_content_element ">
										<div class="wpb_wrapper">
											<ul class="trx_addons_list trx_addons_list_asterisk">
												<li>Suspendisse dignissim</li>
												<li>Nullam efficitur nunc</li>
												<li>Etiam eu lectus at lectus</li>
												<li>Etiam lobortis metus</li>
												<li>In eget augue vel odio</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div><div class="wpb_column vc_column_container column-4_12">
							<div class="vc_column-inner ">
								<div class="wpb_wrapper">
									<div class="wpb_text_column wpb_content_element ">
										<div class="wpb_wrapper">
											<ol class="trx_addons_list trx_addons_list_circle">
												<li>Suspendisse dignissim</li>
												<li>Nullam efficitur nunc</li>
												<li>Etiam eu lectus at lectus</li>
												<li>Etiam lobortis metus</li>
												<li>In eget augue vel odio</li>
											</ol>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="wpb_column vc_column_container column-12_12">
							<div class="vc_column-inner ">
								<div class="wpb_wrapper">
									<div class="wpb_text_column wpb_content_element ">
										<div class="wpb_wrapper">
											<hr />
											<h2>Table</h2>
											<div class="dummy"></div>
										</div>
									</div>
									<div id="sc_table_1244692167_wrap" class="sc_table_wrap">
										<div id="sc_table_1244692167" class="sc_table" style="width:100%;">

											<table>
												<tbody>
													<tr>
														<th style="text-align: left;">Wine tasting</th>
														<th style="text-align: center;">Lun</th>
														<th style="text-align: center;">Mar</th>
														<th style="text-align: center;">Mer</th>
														<th style="text-align: center;">Jeu</th>
														<th style="text-align: center;">Sam</th>
													</tr>
													<tr>
														<td>Wine & Cheese Lunch</td>
														<td style="text-align: center;">12:15 pm</td>
														<td style="text-align: center;">12:15 pm</td>
														<td style="text-align: center;">12:15 pm</td>
														<td style="text-align: center;">12:15 pm</td>
														<td style="text-align: center;">12:15 pm</td>
													</tr>
													<tr>
														<td>French Wine Introductiry</td>
														<td style="text-align: center;">3:15 pm</td>
														<td style="text-align: center;">3:15 pm</td>
														<td style="text-align: center;">3:15 pm</td>
														<td style="text-align: center;">3:15 pm</td>
														<td style="text-align: center;">3:15 pm</td>
													</tr>
													<tr>
														<td>Tour de France of Wine</td>
														<td style="text-align: center;">5:15 pm</td>
														<td style="text-align: center;">5:15 pm</td>
														<td style="text-align: center;">5:15 pm</td>
														<td style="text-align: center;">5:15 pm</td>
														<td style="text-align: center;">5:15 pm</td>
													</tr>
													<tr>
														<td>Grands Crus Masterclass</td>
														<td style="text-align: center;">5:30 pm</td>
														<td style="text-align: center;">–</td>
														<td style="text-align: center;">–</td>
														<td style="text-align: center;">–</td>
														<td style="text-align: center;">5:30 pm</td>
													</tr>
												</tbody>
											</table>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="wpb_column vc_column_container column-12_12">
							<div class="vc_column-inner ">
								<div class="wpb_wrapper">
									<div class="wpb_text_column wpb_content_element ">
										<div class="wpb_wrapper">
											<hr />
											<h2>Inputs and Buttons</h2>
											<div class="dummy"></div>
										</div>
									</div>
									<div class="sc_form sc_form_default">
										<form class="sc_form_form sc_input_hover_underline" method="post" action="#">
											<div class="sc_form_details trx_addons_columns_wrap">
												<div class="trx_addons_column-1_2">
													<label class="sc_form_field sc_form_field_name required"><span class="sc_form_field_wrap"><input type="text" name="name" aria-required="true"><span class="sc_form_field_hover"><span class="sc_form_field_content" data-content="Name">Name</span></span> </span></label>
												</div>
												<div class="trx_addons_column-1_2">
													<label class="sc_form_field sc_form_field_email required"><span class="sc_form_field_wrap"><input type="text" name="email" aria-required="true"><span class="sc_form_field_hover"><span class="sc_form_field_content" data-content="E-mail">E-mail</span></span> </span></label>
												</div>
											</div><label class="sc_form_field sc_form_field_message required"><span class="sc_form_field_wrap"><textarea name="message" aria-required="true"></textarea><span class="sc_form_field_hover"><span class="sc_form_field_content" data-content="Message">Message</span></span> </span></label>
											<div class="sc_form_field sc_form_field_button"><button>Send Message</button></div>
											<div class="trx_addons_message_box sc_form_result"></div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
		</div>
		<partial name="~/Views/Shared/_Sidebar.cshtml" />
	</div>
</div>