@{
    ViewData["Title"] = "Shop";
}
@section Styles {
}
@section Scripts {
}
<div class="breadcrumbs">
	<a class="breadcrumbs_item home" href="/">Home</a>
	<span class="breadcrumbs_delimiter"></span>
	<span class="breadcrumbs_item current">Shop</span>
</div>
<div class="archive post-type-archive post-type-archive-product woocommerce woocommerce-page body_tag body_style_wide scheme_default blog_mode_shop  is_stream blog_style_excerpt sidebar_hide expand_content header_style_header-1 header_position_default header_title_on menu_style_top no_layout vc_responsive">
	<div class="wrap">
		<div class="content">
			<div class="list_products shop_mode_thumbs">
				<div class="list_products_header">
					<nav class="woocommerce-breadcrumb"><a href="index.html">Home</a>&nbsp;&#47;&nbsp;Shop</nav>
					<h1 class="page-title">Shop</h1>
				</div>
				<div class="laon_wine_house_shop_mode_buttons">
					<form action="#" method="post">
						<input type="hidden" name="laon_wine_house_shop_mode" value="thumbs" />
						<a href="#" class="woocommerce_thumbs icon-th" title="Show products as thumbs"></a>
						<a href="#" class="woocommerce_list icon-th-list" title="Show products as list"></a>
					</form>
				</div>
				<p class="woocommerce-result-count">Showing 1&ndash;8 of 12 results</p>
				<form class="woocommerce-ordering" method="get">
					<select name="orderby" class="orderby">
						<option value="menu_order" selected='selected'>Default sorting</option>
						<option value="popularity">Sort by popularity</option>
						<option value="rating">Sort by average rating</option>
						<option value="date">Sort by newness</option>
						<option value="price">Sort by price: low to high</option>
						<option value="price-desc">Sort by price: high to low</option>
					</select>
					<input type="hidden" name="q" value="/shop/" />
				</form>
				<ul class="products">
					<li class="product type-product has-post-thumbnail column-1_4 first">
						<div class="post_item post_layout_thumbs">
							<div class="post_featured hover_shop">
								<a href="Product">
									<img width="360" height="480" src="images/1837_CabernetMerlot_43x2-360x480.png" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="1837_CabernetMerlot_43x2" title="1837_CabernetMerlot_43x2" />
								</a>
								<div class="mask"></div>
								<div class="icons">
									<a rel="nofollow" href="#" aria-hidden="true" data-quantity="1" data-product_id="403" data-product_sku="" class="shop_cart icon-shopping-cart button add_to_cart_button product_type_simple ajax_add_to_cart"></a>
									<a href="Product" aria-hidden="true" class="shop_link icon-link"></a>
								</div>
							</div>
							<div class="post_data">
								<div class="post_header entry-header">
									<div class="post_tags product_tags"><a href="Product" rel="tag">2011</a></div>
									<h3><a href="Product">1837. Cabernet Merlot</a></h3>
									<div class="star-rating" title="Rated 5 out of 5"><span style="width:100%"><strong class="rating">5</strong> out of 5</span></div>
								</div>
								<span class="price">
									<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>300<span class="decimals">50</span></span>
								</span>
								<a rel="nofollow" href="#" data-quantity="1" data-product_id="403" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Buy now</a>
							</div>
						</div>
					</li>
					<li class="product type-product has-post-thumbnail column-1_4 ">
						<div class="post_item post_layout_thumbs">
							<div class="post_featured hover_shop">
								<a href="Product">
									<img width="360" height="480" src="images/Classic_CabernetSauvignon_43x2-360x480.png" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="Classic_CabernetSauvignon_43x2" title="Classic_CabernetSauvignon_43x2" />
								</a>
								<div class="mask"></div>
								<div class="icons">
									<a rel="nofollow" href="#" aria-hidden="true" data-quantity="1" data-product_id="401" data-product_sku="" class="shop_cart icon-shopping-cart button add_to_cart_button product_type_simple ajax_add_to_cart"></a>
									<a href="Product" aria-hidden="true" class="shop_link icon-link"></a>
								</div>
							</div>
							<div class="post_data">
								<div class="post_header entry-header">
									<div class="post_tags product_tags"><a href="Product" rel="tag">2013</a></div>
									<h3><a href="Product">Cabernet Sauvignon</a></h3>
								</div>
								<span class="price">
									<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>215<span class="decimals">00</span></span>
								</span>
								<a rel="nofollow" href="#" data-quantity="1" data-product_id="401" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Buy now</a>
							</div>
						</div>
					</li>
					<li class="product type-product has-post-thumbnail column-1_4 ">
						<div class="post_item post_layout_thumbs">
							<div class="post_featured hover_shop">
								<a href="Product">
									<img width="360" height="480" src="images/kaO0w6Nl-FineWines_CentenaryHill_Shiraz_43x2-360x480.png" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="kaO0w6Nl-FineWines_CentenaryHill_Shiraz_43x2" title="kaO0w6Nl-FineWines_CentenaryHill_Shiraz_43x2" />
								</a>
								<div class="mask"></div>
								<div class="icons">
									<a rel="nofollow" href="#" aria-hidden="true" data-quantity="1" data-product_id="406" data-product_sku="" class="shop_cart icon-shopping-cart button add_to_cart_button product_type_simple ajax_add_to_cart"></a>
									<a href="Product" aria-hidden="true" class="shop_link icon-link"></a>
								</div>
								<div class="product_awards"><span>Award WINNER</span></div>
							</div>
							<div class="post_data">
								<div class="post_header entry-header">
									<div class="post_tags product_tags"><a href="Product" rel="tag">2014</a></div>
									<h3><a href="Product">Centenary Hill Shiraz</a></h3>
									<div class="star-rating" title="Rated 5 out of 5"><span style="width:100%"><strong class="rating">5</strong> out of 5</span></div>
								</div>
								<span class="price">
									<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>595<span class="decimals">00</span></span>
								</span>
								<a rel="nofollow" href="#" data-quantity="1" data-product_id="406" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Buy now</a>
							</div>
						</div>
					</li>
					<li class="product type-product has-post-thumbnail column-1_4 last sale">
						<div class="post_item post_layout_thumbs">
							<div class="post_featured hover_shop">
								<a href="Product">
									<span class="onsale">Sale!</span>
									<img width="360" height="480" src="images/Classic_SemillonChardonnay_43x2-360x480.png" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="Classic_SemillonChardonnay_43x2" title="Classic_SemillonChardonnay_43x2" />
								</a>
								<div class="mask"></div>
								<div class="icons">
									<a rel="nofollow" href="#" aria-hidden="true" data-quantity="1" data-product_id="395" data-product_sku="" class="shop_cart icon-shopping-cart button add_to_cart_button product_type_simple ajax_add_to_cart"></a>
									<a href="Product" aria-hidden="true" class="shop_link icon-link"></a>
								</div>
							</div>
							<div class="post_data">
								<div class="post_header entry-header">
									<div class="post_tags product_tags"><a href="Product" rel="tag">2014</a></div>
									<h3><a href="Product">Classic Shardonnay</a></h3>
								</div>
								<span class="price">
									<del>
										<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>490<span class="decimals">00</span></span>
									</del> <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>379<span class="decimals">99</span></span></ins>
								</span>
								<a rel="nofollow" href="#" data-quantity="1" data-product_id="395" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Buy now</a>
							</div>
						</div>
					</li>
					<li class="product type-product has-post-thumbnail column-1_4 first">
						<div class="post_item post_layout_thumbs">
							<div class="post_featured hover_shop">
								<a href="Product">
									<img width="360" height="480" src="images/kaO0w6Nl-FineWines_CentenaryHill_Shiraz_43x2-360x480.png" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="kaO0w6Nl-FineWines_CentenaryHill_Shiraz_43x2" title="kaO0w6Nl-FineWines_CentenaryHill_Shiraz_43x2" />
								</a>
								<div class="mask"></div>
								<div class="icons">
									<a rel="nofollow" href="index1f3b.html?add-to-cart=445" aria-hidden="true" data-quantity="1" data-product_id="445" data-product_sku="" class="shop_cart icon-shopping-cart button add_to_cart_button product_type_simple ajax_add_to_cart"></a>
									<a href="Product" aria-hidden="true" class="shop_link icon-link"></a>
								</div>
							</div>
							<div class="post_data">
								<div class="post_header entry-header">
									<div class="post_tags product_tags"><a href="Product" rel="tag">2011</a></div>
									<h3><a href="Product">Hill Shiraz</a></h3>
								</div>
								<span class="price">
									<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>285<span class="decimals">98</span></span>
								</span>
								<a rel="nofollow" href="index1f3b.html?add-to-cart=445" data-quantity="1" data-product_id="445" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Buy now</a>
							</div>
						</div>
					</li>
					<li class="product type-product has-post-thumbnail column-1_4 ">
						<div class="post_item post_layout_thumbs">
							<div class="post_featured hover_shop">
								<a href="Product">
									<img width="360" height="480" src="images/FineWines_Johann_ShirazCabernet_43x2-360x480.png" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="FineWines_Johann_ShirazCabernet_43x2" title="FineWines_Johann_ShirazCabernet_43x2" />
								</a>
								<div class="mask"></div>
								<div class="icons">
									<a rel="nofollow" href="#" aria-hidden="true" data-quantity="1" data-product_id="402" data-product_sku="" class="shop_cart icon-shopping-cart button add_to_cart_button product_type_simple ajax_add_to_cart"></a>
									<a href="Product" aria-hidden="true" class="shop_link icon-link"></a>
								</div>
							</div>
							<div class="post_data">
								<div class="post_header entry-header">
									<div class="post_tags product_tags"><a href="Product" rel="tag">2012</a></div>
									<h3><a href="Product">Johann Shiraz Cabernet</a></h3>
								</div>
								<span class="price">
									<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>95<span class="decimals">00</span></span>
								</span>
								<a rel="nofollow" href="#" data-quantity="1" data-product_id="402" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Buy now</a>
							</div>
						</div>
					</li>
					<li class="product type-product has-post-thumbnail column-1_4 ">
						<div class="post_item post_layout_thumbs">
							<div class="post_featured hover_shop">
								<a href="Product">
									<img width="360" height="480" src="images/FineWines_ReevesPoint_Chardonnay_43x2-360x480.png" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="FineWines_ReevesPoint_Chardonnay_43x2" title="FineWines_ReevesPoint_Chardonnay_43x2" />
								</a>
								<div class="mask"></div>
								<div class="icons">
									<a rel="nofollow" href="#" aria-hidden="true" data-quantity="1" data-product_id="404" data-product_sku="" class="shop_cart icon-shopping-cart button add_to_cart_button product_type_simple ajax_add_to_cart"></a>
									<a href="Product" aria-hidden="true" class="shop_link icon-link"></a>
								</div>
							</div>
							<div class="post_data">
								<div class="post_header entry-header">
									<div class="post_tags product_tags"><a href="Product" rel="tag">2012</a></div>
									<h3><a href="Product">Reeves Point</a></h3>
								</div>
								<span class="price">
									<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>247<span class="decimals">00</span></span>
								</span>
								<a rel="nofollow" href="#" data-quantity="1" data-product_id="404" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Buy now</a>
							</div>
						</div>
					</li>
					<li class="product type-product has-post-thumbnail column-1_4 last">
						<div class="post_item post_layout_thumbs">
							<div class="post_featured hover_shop">
								<a href="Product">
									<img width="360" height="480" src="images/FineWines_ReevesPoint_Chardonnay_43x2-360x480.png" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="FineWines_ReevesPoint_Chardonnay_43x2" title="FineWines_ReevesPoint_Chardonnay_43x2" />
								</a>
								<div class="mask"></div>
								<div class="icons">
									<a rel="nofollow" href="index4111.html?add-to-cart=446" aria-hidden="true" data-quantity="1" data-product_id="446" data-product_sku="" class="shop_cart icon-shopping-cart button add_to_cart_button product_type_simple ajax_add_to_cart"></a>
									<a href="Product" aria-hidden="true" class="shop_link icon-link"></a>
								</div>
							</div>
							<div class="post_data">
								<div class="post_header entry-header">
									<div class="post_tags product_tags"><a href="Product" rel="tag">2014</a></div>
									<h3><a href="Product">Shardonnay Reeves</a></h3>
								</div>
								<span class="price">
									<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>182<span class="decimals">00</span></span>
								</span>
								<a rel="nofollow" href="index4111.html?add-to-cart=446" data-quantity="1" data-product_id="446" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Buy now</a>
							</div>
						</div>
					</li>
				</ul>
				<nav class="woocommerce-pagination">
					<ul class='page-numbers'>
						<li><span class='page-numbers current'>1</span></li>
						<li><a class='page-numbers' href='#'>2</a></li>
						<li><a class="next page-numbers" href="#">&rarr;</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>
