@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization

@inject IViewLocalizer ViewLocalizer
@{
	ViewData["Title"] = ViewLocalizer["title"];
    ViewBag.PCurrent = "winelist";
}

<div class="top_panel_title_wrap">
	<div class="content_wrap">
		<div class="top_panel_title">
			<div class="page_title">
				<h1 class="page_caption">@ViewLocalizer["title"]</h1>
			</div>
			<div class="breadcrumbs">
				<a class="breadcrumbs_item home" href="/">Home</a>
				<span class="breadcrumbs_delimiter"></span>
				<span class="breadcrumbs_item current">@ViewLocalizer["title"]</span>
			</div>
		</div>
	</div>
</div>
<div class="body expand_content remove_margins">
	<div class="content_wrap">
		<div class="content">
			<article id="post-296" class="post_item_single post_type_page post-296 page type-page">
				<div class="post_content entry-content">
					<div class="row row-o-full-height row-o-columns-stretch row-o-equal-height">
						<div class="wpb_column vc_column_container column-12_12">
							<div class="vc_column-inner ">
								<div class="wpb_wrapper">
									<a id="sc_anchor_cabernet_sauvignon_2012" class="sc_anchor" title="Cabernet Sauvignon 2012" data-icon="" data-url=""></a>
									<div class="sc_promo sc_promo_default sc_promo_size_large sc_promo_image_fit">
										<div class="sc_promo_image" style="background-color:#f7f7f5;background-image:url(images/wine-01.jpg);right: 0;"></div>
										<div class="sc_promo_text trx_addons_stretch_height" style="width: 50%;float: left;">
											<div class="sc_promo_text_inner sc_align_center">
												<h2 class="sc_item_title sc_promo_title"><small>2012</small><br>Cabernet Sauvignon</h2>
												<h5 class="sc_item_subtitle sc_promo_subtitle">Nam venenatis sem ut purus placerat, quis fermentum eros finibus. Integer et euismod elit.</h5>
												<div class="sc_promo_content sc_item_content">
													<div class="wpb_text_column wpb_content_element ">
														<div class="wpb_wrapper">
															<p style="text-align: center;">
																<span class="trx_addons_accent trx_addons_tiny_text"><strong>R1980 / 12 BOTTLES</strong></span><br />
																<span class="trx_addons_accent trx_addons_tiny_text"><strong>R990 / 6 BOTTLES</strong></span>
															</p>
														</div>
													</div>
												</div>
												<div class="sc_item_button sc_promo_button sc_button_wrap"><a href="#" class="sc_button sc_button_simple sc_button_size_normal sc_button_icon_top"><span class="sc_button_icon"><span class="icon-down-big"></span></span><span class="sc_button_text"><span class="sc_button_title">Discover this wine</span></span> </a>																</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row row-o-full-height row-o-columns-stretch row-o-equal-height">
						<div class="wpb_column vc_column_container column-12_12">
							<div class="vc_column-inner ">
								<div class="wpb_wrapper">
									<a id="sc_anchor_shardonnay_2014" class="sc_anchor" title="Shardonnay 2014" data-icon="" data-url=""></a>
									<div class="sc_promo sc_promo_default sc_promo_size_large sc_promo_image_fit">
										<div class="sc_promo_image" style="background-color:#f7f7f5;background-image:url(images/wine-02.jpg);left: 0;"></div>
										<div class="sc_promo_text trx_addons_stretch_height" style="width: 50%;float: right;">
											<div class="sc_promo_text_inner sc_align_center">
												<h2 class="sc_item_title sc_promo_title"><small>2014</small><br>Shardonnay</h2>
												<h5 class="sc_item_subtitle sc_promo_subtitle">Cras auctor neque nisi, eu condimentum felis tristique eget cras in tincidunt nisl.</h5>
												<div class="sc_promo_content sc_item_content">
													<div class="wpb_text_column wpb_content_element ">
														<div class="wpb_wrapper">
															<p style="text-align: center;">
																<span class="trx_addons_accent trx_addons_tiny_text"><strong>R1200 / 12 BOTTLES</strong></span><br />
																<span class="trx_addons_accent trx_addons_tiny_text"><strong>R600 / 6 BOTTLES</strong></span>
															</p>
														</div>
													</div>
												</div>
												<div class="sc_item_button sc_promo_button sc_button_wrap"><a href="#" class="sc_button sc_button_simple sc_button_size_normal sc_button_icon_top"><span class="sc_button_icon"><span class="icon-down-big"></span></span><span class="sc_button_text"><span class="sc_button_title">Discover this wine</span></span> </a>																</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row row-o-full-height row-o-columns-stretch row-o-equal-height">
						<div class="wpb_column vc_column_container column-12_12">
							<div class="vc_column-inner ">
								<div class="wpb_wrapper">
									<a id="sc_anchor_lomalta_2010" class="sc_anchor" title="Lomalta 2010" data-icon="" data-url=""></a>
									<div class="sc_promo sc_promo_default sc_promo_size_large sc_promo_image_fit">
										<div class="sc_promo_image" style="background-color:#f7f7f5;background-image:url(images/wine-03.jpg);right: 0;"></div>
										<div class="sc_promo_text trx_addons_stretch_height" style="width: 50%;float: left;">
											<div class="sc_promo_text_inner sc_align_center">
												<h2 class="sc_item_title sc_promo_title"><small>2010</small><br>Lomalta</h2>
												<h5 class="sc_item_subtitle sc_promo_subtitle">Maecenas elementum vehicula nunc, mattis placerat libero eleifend ut</h5>
												<div class="sc_promo_content sc_item_content">
													<div class="wpb_text_column wpb_content_element ">
														<div class="wpb_wrapper">
															<p style="text-align: center;">
																<span class="trx_addons_accent trx_addons_tiny_text"><strong>R1200 / 12 BOTTLES</strong></span><br />
																<span class="trx_addons_accent trx_addons_tiny_text"><strong>R600 / 6 BOTTLES</strong></span>
															</p>
														</div>
													</div>
												</div>
												<div class="sc_item_button sc_promo_button sc_button_wrap"><a href="#" class="sc_button sc_button_simple sc_button_size_normal sc_button_icon_top"><span class="sc_button_icon"><span class="icon-down-big"></span></span><span class="sc_button_text"><span class="sc_button_title">Discover this wine</span></span> </a>																</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- <div class="row">
						<div class="wpb_column vc_column_container column-12_12">
							<div class="vc_column-inner ">
								<div class="wpb_wrapper">
									<a id="sc_anchor_footer_menu" class="sc_anchor" title="Footer Menu" data-icon="" data-url=""></a>
								</div>
							</div>
						</div>
					</div> -->
				</div>
			</article>
		</div>
	</div>
</div>
