@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using WebsiteFJW.Controllers

@inject IStringLocalizer<HomeController> Localizer
@inject IViewLocalizer ViewLocalizer
@{
	ViewData["Title"] = ViewLocalizer["title"];
	ViewBag.PCurrent = "buywines";
	ViewBag.CCurrent = "MyAccount";
}
@section Styles {
}
@section Scripts {
}

<div class="top_panel_title_wrap">
	<div class="content_wrap">
		<div class="top_panel_title">
			<div class="page_title">
				<h1 class="page_caption">@ViewLocalizer["title"]</h1>
			</div>
			<div class="breadcrumbs">
				<a class="breadcrumbs_item home" href="/">@Localizer["menu1"]</a>
				<span class="breadcrumbs_delimiter"></span>
				<a class="breadcrumbs_item cat_post">@Localizer["menu4"]</a>
				<span class="breadcrumbs_delimiter"></span>
				<span class="breadcrumbs_item current">@ViewLocalizer["title"]</span>
			</div>
		</div>
	</div>
</div>
<div class="body woocommerce-account woocommerce-page expand_content">
	<div class="wrap">
		<div class="content">
			<article id="post-574" class="post_item_single post_type_page post-574 page type-page">
				<div class="post_content entry-content">
					<div class="woocommerce">
						<h2>Login</h2>
						<form method="post" class="login">
							<p class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
								<label for="username">Username or email address <span class="required">*</span></label>
								<input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="username" id="username" value="" />
							</p>
							<p class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
								<label for="password">Password <span class="required">*</span></label>
								<input class="woocommerce-Input woocommerce-Input--text input-text" type="password" name="password" id="password" />
							</p>
							<p class="form-row">
								<input type="hidden" id="woocommerce-login-nonce" name="woocommerce-login-nonce" value="f5b9eb57a2" /><input type="hidden" name="_wp_http_referer" value="/account/" /> <input type="submit" class="woocommerce-Button button" name="login" value="Login" />
								<label for="rememberme" class="inline"><input class="woocommerce-Input woocommerce-Input--checkbox" name="rememberme" type="checkbox" id="rememberme" value="forever" /> Remember me </label>
							</p>
							<p class="woocommerce-LostPassword lost_password">
								<a href="#">Lost your password?</a>
							</p>
						</form>
					</div>
				</div>
			</article>
		</div>
	</div>
</div>
</div>