@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using WebsiteFJW.Controllers

@inject IStringLocalizer<HomeController> Localizer
@inject IViewLocalizer ViewLocalizer
@{
	ViewData["Title"] = ViewLocalizer["title"];
	ViewBag.PCurrent = "blogarchive";
	ViewBag.CCurrent = "category";
}
@section Styles {
		<link rel='stylesheet' id='vc_extensions_cqbundle_adminicon-css' href='js/vendor/plugins/vc-extensions-bundle/css/admin_icon.min.css' type='text/css' media='all' />
		<link rel='stylesheet' id='rs-plugin-settings-css' href='js/vendor/plugins/revslider/public/assets/css/settings.css' type='text/css' media='all' />
		<link rel='stylesheet' id='trx_addons-icons-css' href='js/vendor/plugins/trx_addons/css/font-icons/css/trx_addons_icons-embedded.css' type='text/css' media='all' />
		<link rel='stylesheet' id='swiperslider-css' href='js/vendor/plugins/trx_addons/js/swiper/swiper.min.css' type='text/css' media='all' />
		<link rel='stylesheet' id='magnific-popup-css' href='js/vendor/plugins/trx_addons/js/magnific/magnific-popup.min.css' type='text/css' media='all' />
		<link rel='stylesheet' id='mediaelement-css' href='js/vendor/mediaelement/mediaelementplayer.min.css' type='text/css' media='all' />
		<link rel='stylesheet' id='wp-mediaelement-css' href='js/vendor/mediaelement/wp-mediaelement.min.css' type='text/css' media='all' />
}
@section Scripts {
	<script type='text/javascript' src='js/vendor/mediaelement/mediaelement-and-player.min.js'></script>
	<script type='text/javascript' src='js/vendor/mediaelement/wp-mediaelement.min.js'></script>
}
<div class="top_panel_title_wrap">
	<div class="content_wrap">
		<div class="top_panel_title">
			<div class="page_title">
				<h1 class="page_caption">@ViewLocalizer["title"]</h1>
			</div>
			<div class="breadcrumbs">
				<a class="breadcrumbs_item home" href="/">@Localizer["menu1"]</a>
				<span class="breadcrumbs_delimiter"></span>
				<span class="breadcrumbs_item current">@ViewLocalizer["title"]</span>
			</div>
		</div>
	</div>
</div>
<div class="body blog body_tag body_style_wide scheme_default blog_mode_blog is_stream blog_style_excerpt sidebar_show sidebar_right header_style_header-1 header_position_default header_title_on menu_style_top no_layout vc_responsive">
	<div class="wrap">
		<div class="content">
			<div class="posts_container">
				<article class="post_item post_layout_excerpt post type-post has-post-thumbnail" data-animation="animated fadeInUp normal">
								<div class="post_featured with_thumb hover_icon"><img width="770" height="481" src="images/image-5-770x481.jpg" alt="10 Best Rerecipes of Desserts to Pair White Wines" />
									<div class="mask"></div>
									<div class="icons">
										<a href="SinglePost" aria-hidden="true" class="icon-glass"></a>
									</div>
								</div>
								<div class="post_header entry-header">
									<h3 class="post_title entry-title"><a href="SinglePost" rel="bookmark">10 Best Rerecipes of Desserts to Pair White Wines</a></h3>
									<div class="post_meta"> <span class="post_meta_item post_categories"><a href="BlogArchive" rel="category tag">Panel Tasting</a>, <a href="BlogArchive" rel="category tag">Producers</a></span>
										<span class="post_meta_item post_date"><a href="SinglePost">May 2016</a></span>
										<a href="single-post.html#respond" class="post_meta_item post_counters_item post_counters_comments trx_addons_icon-comment"><span class="post_counters_number">0</span><span class="post_counters_label">Comments</span></a> <span class="post_meta_item post_share"><span class="socials_wrap socials_share socials_size_tiny socials_type_drop socials_dir_horizontal"><a href="#" class="socials_caption"><span class="socials_caption_label">Share</span></a>
										<span class="social_items"><span class="social_item social_item_popup"><a href="#" class="social_icons social_twitter" data-link="#" data-count="twitter"><span class="trx_addons_icon-twitter"></span><i>twitter</i></a>
										</span><span class="social_item social_item_popup"><a href="#" class="social_icons social_facebook" data-link="#" data-count="facebook"><span class="trx_addons_icon-facebook"></span><i>facebook</i></a>
										</span><span class="social_item social_item_popup"><a href="#" class="social_icons social_instagram" data-link="#" data-count="gplus"><span class="trx_addons_icon-instagram"></span><i>gplus</i></a>
										</span><span class="social_item social_item_popup"><a href="#" class="social_icons social_tumblr" data-link="#" data-count="tumblr"><span class="trx_addons_icon-tumblr"></span><i>tumblr</i></a>
										</span><span class="social_item social_item_popup"><a href="#" class="social_icons social_mail" data-link="#" data-count="mail"><span class="trx_addons_icon-mail"></span><i>mail</i></a>
										</span>
										</span>
									</span>
									</span>
								</div>
						</div>
						<div class="post_content entry-content">
							<div class="post_content_inner">
								<p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</p>
							</div>
							<p><a class="more-link" href="SinglePost">Read more</a></p>
						</div>
						</article>
				<article class="post_item post_layout_excerpt post type-post has-post-thumbnail" data-animation="animated fadeInUp normal">
							<div class="post_featured with_thumb hover_icon"><img width="770" height="481" src="images/image-6-770x481.jpg" alt="How to Pair Different Wines with Your Favorite Food" />
								<div class="mask"></div>
								<div class="icons">
									<a href="SinglePost" aria-hidden="true" class="icon-glass"></a>
								</div>
							</div>
							<div class="post_header entry-header">
								<h3 class="post_title entry-title"><a href="SinglePost" rel="bookmark">How to Pair Different Wines with Your Favorite Food</a></h3>
								<div class="post_meta"> <span class="post_meta_item post_categories"><a href="BlogArchive" rel="category tag">Panel Tasting</a>, <a href="BlogArchive" rel="category tag">Producers</a></span>
									<span class="post_meta_item post_date"><a href="SinglePost">May 2016</a></span>
									<a href="single-post.html#respond" class="post_meta_item post_counters_item post_counters_comments trx_addons_icon-comment"><span class="post_counters_number">0</span><span class="post_counters_label">Comments</span></a> <span class="post_meta_item post_share"><span class="socials_wrap socials_share socials_size_tiny socials_type_drop socials_dir_horizontal"><a href="#" class="socials_caption"><span class="socials_caption_label">Share</span></a>
									<span class="social_items"><span class="social_item social_item_popup"><a href="#" class="social_icons social_twitter" data-link="#" data-count="twitter"><span class="trx_addons_icon-twitter"></span><i>twitter</i></a>
									</span><span class="social_item social_item_popup"><a href="#" class="social_icons social_facebook" data-link="#" data-count="facebook"><span class="trx_addons_icon-facebook"></span><i>facebook</i></a>
									</span><span class="social_item social_item_popup"><a href="#" class="social_icons social_instagram" data-link="#" data-count="gplus"><span class="trx_addons_icon-instagram"></span><i>gplus</i></a>
									</span><span class="social_item social_item_popup"><a href="#" class="social_icons social_tumblr" data-link="#" data-count="tumblr"><span class="trx_addons_icon-tumblr"></span><i>tumblr</i></a>
									</span><span class="social_item social_item_popup"><a href="#" class="social_icons social_mail" data-link="#" data-count="mail"><span class="trx_addons_icon-mail"></span><i>mail</i></a>
									</span>
									</span>
								</span>
								</span>
							</div>
					</div>
					<div class="post_content entry-content">
						<div class="post_content_inner">
							<p>Duis aliquet tincidunt urna, id sagittis nibh feugiat in. Sed consectetur imperdiet nulla, vel auctor libero malesuada eget. In hac habitasse platea dictumst. Vivamus aliquam orci non lacus malesuada</p>
						</div>
						<p><a class="more-link" href="SinglePost">Read more</a></p>
					</div>
					</article>
				<article class="post_item post_layout_excerpt post type-post has-post-thumbnail" data-animation="animated fadeInUp normal">
						<div class="post_featured with_thumb hover_icon"><img width="770" height="481" src="images/image-4-770x481.jpg" alt="Hungarian Wine: Hope, Dreams, Heritage and Progress" />
							<div class="mask"></div>
							<div class="icons">
								<a href="SinglePost" aria-hidden="true" class="icon-glass"></a>
							</div>
						</div>
						<div class="post_header entry-header">
							<h3 class="post_title entry-title"><a href="SinglePost" rel="bookmark">Hungarian Wine: Hope, Dreams, Heritage and Progress</a></h3>
							<div class="post_meta"> <span class="post_meta_item post_categories"><a href="BlogArchive" rel="category tag">Food Pairings</a>, <a href="BlogArchive" rel="category tag">Panel Tasting</a>, <a href="BlogArchive" rel="category tag">Wine Regions</a></span>
								<span class="post_meta_item post_date"><a href="SinglePost">May 2016</a></span>
								<a href="single-post.html#respond" class="post_meta_item post_counters_item post_counters_comments trx_addons_icon-comment"><span class="post_counters_number">0</span><span class="post_counters_label">Comments</span></a> <span class="post_meta_item post_share"><span class="socials_wrap socials_share socials_size_tiny socials_type_drop socials_dir_horizontal"><a href="#" class="socials_caption"><span class="socials_caption_label">Share</span></a>
								<span class="social_items"><span class="social_item social_item_popup"><a href="#" class="social_icons social_twitter" data-link="#" data-count="twitter"><span class="trx_addons_icon-twitter"></span><i>twitter</i></a>
								</span><span class="social_item social_item_popup"><a href="#" class="social_icons social_facebook" data-link="#" data-count="facebook"><span class="trx_addons_icon-facebook"></span><i>facebook</i></a>
								</span><span class="social_item social_item_popup"><a href="#" class="social_icons social_instagram" data-link="#" data-count="gplus"><span class="trx_addons_icon-instagram"></span><i>gplus</i></a>
								</span><span class="social_item social_item_popup"><a href="#" class="social_icons social_tumblr" data-link="#" data-count="tumblr"><span class="trx_addons_icon-tumblr"></span><i>tumblr</i></a>
								</span><span class="social_item social_item_popup"><a href="#" class="social_icons social_mail" data-link="#" data-count="mail"><span class="trx_addons_icon-mail"></span><i>mail</i></a>
								</span>
								</span>
							</span>
							</span>
						</div>
				</div>
				<div class="post_content entry-content">
					<div class="post_content_inner">
						<p>Aenean varius et ipsum at gravida. Integer tincidunt volutpat sapien, quis tempus ipsum consectetur in. Phasellus fringilla felis non mi porttitor placerat. Class aptent taciti sociosqu ad litora</p>
					</div>
					<p><a class="more-link" href="SinglePost">Read more</a></p>
				</div>
				</article>
				<article class="post_item post_layout_excerpt post type-post has-post-thumbnail" data-animation="animated fadeInUp normal">
					<div class="post_featured with_thumb hover_icon"><img width="770" height="481" src="images/image-11-770x481.jpg" alt="Winemaking Is An Art" />
						<div class="mask"></div>
						<div class="icons">
							<a href="SinglePost" aria-hidden="true" class="icon-glass"></a>
						</div>
					</div>
					<div class="post_header entry-header">
						<h3 class="post_title entry-title"><a href="SinglePost" rel="bookmark">Winemaking Is An Art</a></h3>
						<div class="post_meta"> <span class="post_meta_item post_categories"><a href="BlogArchive" rel="category tag">Producers</a>, <a href="BlogArchive" rel="category tag">Wine Regions</a></span>
							<span class="post_meta_item post_date"><a href="SinglePost">May 2016</a></span>
							<a href="single-post.html#respond" class="post_meta_item post_counters_item post_counters_comments trx_addons_icon-comment"><span class="post_counters_number">0</span><span class="post_counters_label">Comments</span></a> <span class="post_meta_item post_share"><span class="socials_wrap socials_share socials_size_tiny socials_type_drop socials_dir_horizontal"><a href="#" class="socials_caption"><span class="socials_caption_label">Share</span></a><span
											class="social_items"><span class="social_item social_item_popup"><a href="#" class="social_icons social_twitter" data-link="#" data-count="twitter"><span class="trx_addons_icon-twitter"></span><i>twitter</i></a>
							</span><span class="social_item social_item_popup"><a href="#" class="social_icons social_facebook" data-link="#" data-count="facebook"><span class="trx_addons_icon-facebook"></span><i>facebook</i></a>
							</span><span class="social_item social_item_popup"><a href="#" class="social_icons social_instagram" data-link="#" data-count="gplus"><span class="trx_addons_icon-instagram"></span><i>gplus</i></a>
							</span><span class="social_item social_item_popup"><a href="#" class="social_icons social_tumblr" data-link="#" data-count="tumblr"><span class="trx_addons_icon-tumblr"></span><i>tumblr</i></a>
							</span><span class="social_item social_item_popup"><a href="#" class="social_icons social_mail" data-link="#" data-count="mail"><span class="trx_addons_icon-mail"></span><i>mail</i></a>
							</span>
							</span>
						</span>
						</span>
					</div>
			</div>
			<div class="post_content entry-content">
				<div class="post_content_inner">
					<p>Vestibulum dictum fermentum nunc, nec euismod mauris posuere ac. Mauris fermentum ac erat et dapibus. Curabitur faucibus vitae nisi nec feugiat. Quisque sodales, neque a lobortis iaculis</p>
				</div>
				<p><a class="more-link" href="SinglePost">Read more</a></p>
			</div>
			</article>
				<article class="post_item post_layout_excerpt post type-post has-post-thumbnail" data-animation="animated fadeInUp normal">
				<div class="post_featured with_thumb hover_icon"><img width="770" height="481" src="images/image-12-770x481.jpg" alt="The Power of Bordeaux" />
					<div class="mask"></div>
					<div class="icons">
						<a href="SinglePost" aria-hidden="true" class="icon-glass"></a>
					</div>
				</div>
				<div class="post_header entry-header">
					<h3 class="post_title entry-title"><a href="SinglePost" rel="bookmark">The Power of Bordeaux</a></h3>
					<div class="post_meta"> <span class="post_meta_item post_categories"><a href="BlogArchive" rel="category tag">Food Pairings</a>, <a href="BlogArchive" rel="category tag">Wine Travel</a></span>
						<span class="post_meta_item post_date"><a href="SinglePost">May 2016</a></span>
						<a href="single-post.html#respond" class="post_meta_item post_counters_item post_counters_comments trx_addons_icon-comment"><span class="post_counters_number">0</span><span class="post_counters_label">Comments</span></a> <span class="post_meta_item post_share"><span class="socials_wrap socials_share socials_size_tiny socials_type_drop socials_dir_horizontal"><a href="#" class="socials_caption"><span class="socials_caption_label">Share</span></a><span
										class="social_items"><span class="social_item social_item_popup"><a href="#" class="social_icons social_twitter" data-link="#" data-count="twitter"><span class="trx_addons_icon-twitter"></span><i>twitter</i></a>
						</span><span class="social_item social_item_popup"><a href="#" class="social_icons social_facebook" data-link="#" data-count="facebook"><span class="trx_addons_icon-facebook"></span><i>facebook</i></a>
						</span><span class="social_item social_item_popup"><a href="#" class="social_icons social_instagram" data-link="#" data-count="gplus"><span class="trx_addons_icon-instagram"></span><i>gplus</i></a>
						</span><span class="social_item social_item_popup"><a href="#" class="social_icons social_tumblr" data-link="#" data-count="tumblr"><span class="trx_addons_icon-tumblr"></span><i>tumblr</i></a>
						</span><span class="social_item social_item_popup"><a href="#" class="social_icons social_mail" data-link="#" data-count="mail"><span class="trx_addons_icon-mail"></span><i>mail</i></a>
						</span>
						</span>
					</span>
					</span>
				</div>
		</div>
		<div class="post_content entry-content">
			<div class="post_content_inner">
				<p>Donec nec blandit eros. Ut eu nisl nulla. Praesent sem enim, interdum eu lectus nec, cursus dapibus dolor. Suspendisse non odio ut diam aliquam egestas vel eu ante. Aenean at convallis orci</p>
			</div>
			<p><a class="more-link" href="SinglePost">Read more</a></p>
		</div>
		</article>
				<article class="post_item post_layout_excerpt post type-post has-post-thumbnail" data-animation="animated fadeInUp normal">
			<div class="post_featured with_thumb hover_icon"><img width="770" height="481" src="images/image-3-770x481.jpg" alt="Here&#8217;s How Much Alcohol Is Okay to Drink in 20 Countries" />
				<div class="mask"></div>
				<div class="icons">
					<a href="SinglePost" aria-hidden="true" class="icon-glass"></a>
				</div>
			</div>
			<div class="post_header entry-header">
				<h3 class="post_title entry-title"><a href="SinglePost" rel="bookmark">Here&#8217;s How Much Alcohol Is Okay to Drink in 20 Countries</a></h3>
				<div class="post_meta"> <span class="post_meta_item post_categories"><a href="BlogArchive" rel="category tag">Panel Tasting</a>, <a href="BlogArchive" rel="category tag">Producers</a></span>
					<span class="post_meta_item post_date"><a href="SinglePost">May 2016</a></span>
					<a href="single-post.html#respond" class="post_meta_item post_counters_item post_counters_comments trx_addons_icon-comment"><span class="post_counters_number">0</span><span class="post_counters_label">Comments</span></a> <span class="post_meta_item post_share"><span class="socials_wrap socials_share socials_size_tiny socials_type_drop socials_dir_horizontal"><a href="#" class="socials_caption"><span class="socials_caption_label">Share</span></a><span
									class="social_items"><span class="social_item social_item_popup"><a href="#" class="social_icons social_twitter" data-link="#" data-count="twitter"><span class="trx_addons_icon-twitter"></span><i>twitter</i></a>
					</span><span class="social_item social_item_popup"><a href="#" class="social_icons social_facebook" data-link="#" data-count="facebook"><span class="trx_addons_icon-facebook"></span><i>facebook</i></a>
					</span><span class="social_item social_item_popup"><a href="#" class="social_icons social_instagram" data-link="#" data-count="gplus"><span class="trx_addons_icon-instagram"></span><i>gplus</i></a>
					</span><span class="social_item social_item_popup"><a href="#" class="social_icons social_tumblr" data-link="#" data-count="tumblr"><span class="trx_addons_icon-tumblr"></span><i>tumblr</i></a>
					</span><span class="social_item social_item_popup"><a href="#" class="social_icons social_mail" data-link="#" data-count="mail"><span class="trx_addons_icon-mail"></span><i>mail</i></a>
					</span>
					</span>
				</span>
				</span>
			</div>
	</div>
	<div class="post_content entry-content">
		<div class="post_content_inner">
			<p>Praesent nec finibus lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam felis felis, tristique eu elementum eu, facilisis sit amet ante</p>
		</div>
		<p><a class="more-link" href="SinglePost">Read more</a></p>
	</div>
	</article>
				<article class="post_item post_layout_excerpt post type-post has-post-thumbnail" data-animation="animated fadeInUp normal">
					<div class="post_featured with_thumb hover_icon"><img width="770" height="481" src="images/image-2-770x481.jpg" alt="The Best Wines Are The Ones We Drink With Friends" />
						<div class="mask"></div>
						<div class="icons">
							<a href="SinglePost" aria-hidden="true" class="icon-glass"></a>
						</div>
					</div>
					<div class="post_header entry-header">
						<h3 class="post_title entry-title"><a href="SinglePost" rel="bookmark">The Best Wines Are The Ones We Drink With Friends</a></h3>
						<div class="post_meta"> <span class="post_meta_item post_categories"><a href="BlogArchive" rel="category tag">Buying Guide</a></span>
							<span class="post_meta_item post_date"><a href="SinglePost">April 2016</a></span>
							<a href="single-post.html#respond" class="post_meta_item post_counters_item post_counters_comments trx_addons_icon-comment"><span class="post_counters_number">0</span><span class="post_counters_label">Comments</span></a> <span class="post_meta_item post_share"><span class="socials_wrap socials_share socials_size_tiny socials_type_drop socials_dir_horizontal"><a href="#" class="socials_caption"><span class="socials_caption_label">Share</span></a><span
											class="social_items"><span class="social_item social_item_popup"><a href="#" class="social_icons social_twitter" data-link="#" data-count="twitter"><span class="trx_addons_icon-twitter"></span><i>twitter</i></a>
							</span><span class="social_item social_item_popup"><a href="#" class="social_icons social_facebook" data-link="#" data-count="facebook"><span class="trx_addons_icon-facebook"></span><i>facebook</i></a>
							</span><span class="social_item social_item_popup"><a href="#" class="social_icons social_instagram" data-link="#" data-count="gplus"><span class="trx_addons_icon-instagram"></span><i>gplus</i></a>
							</span><span class="social_item social_item_popup"><a href="#" class="social_icons social_tumblr" data-link="#" data-count="tumblr"><span class="trx_addons_icon-tumblr"></span><i>tumblr</i></a>
							</span><span class="social_item social_item_popup"><a href="#" class="social_icons social_mail" data-link="#" data-count="mail"><span class="trx_addons_icon-mail"></span><i>mail</i></a>
							</span>
							</span>
						</span>
						</span>
					</div>
					</div>
					<div class="post_content entry-content">
						<div class="post_content_inner">
							<p>Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur? At vero eos et accusamus et iusto</p>
						</div>
						<p><a class="more-link" href="SinglePost">Read more</a></p>
					</div>
				</article>
				<article class="post_item post_layout_excerpt post type-post has-post-thumbnail" data-animation="animated fadeInUp normal">
					<div class="post_featured with_thumb hover_icon"><img width="770" height="481" src="images/image-1-770x481.jpg" alt="Drinking in Autumn:  The perfect Wines to Indulge" />
						<div class="mask"></div>
						<div class="icons">
							<a href="SinglePost" aria-hidden="true" class="icon-glass"></a>
						</div>
					</div>
					<div class="post_header entry-header">
						<h3 class="post_title entry-title"><a href="SinglePost" rel="bookmark">Drinking in Autumn: The perfect Wines to Indulge</a></h3>
						<div class="post_meta"> <span class="post_meta_item post_categories"><a href="BlogArchive" rel="category tag">Buying Guide</a></span>
							<span class="post_meta_item post_date"><a href="SinglePost">April 2016</a></span>
							<a href="single-post.html#respond" class="post_meta_item post_counters_item post_counters_comments trx_addons_icon-comment"><span class="post_counters_number">0</span><span class="post_counters_label">Comments</span></a> <span class="post_meta_item post_share"><span class="socials_wrap socials_share socials_size_tiny socials_type_drop socials_dir_horizontal"><a href="#" class="socials_caption"><span class="socials_caption_label">Share</span></a><span
											class="social_items"><span class="social_item social_item_popup"><a href="#" class="social_icons social_twitter" data-link="#" data-count="twitter"><span class="trx_addons_icon-twitter"></span><i>twitter</i></a>
							</span><span class="social_item social_item_popup"><a href="#" class="social_icons social_facebook" data-link="#" data-count="facebook"><span class="trx_addons_icon-facebook"></span><i>facebook</i></a>
							</span><span class="social_item social_item_popup"><a href="#" class="social_icons social_instagram" data-link="#" data-count="gplus"><span class="trx_addons_icon-instagram"></span><i>gplus</i></a>
							</span><span class="social_item social_item_popup"><a href="#" class="social_icons social_tumblr" data-link="" data-count="tumblr"><span class="trx_addons_icon-tumblr"></span><i>tumblr</i></a>
							</span><span class="social_item social_item_popup"><a href="#" class="social_icons social_mail" data-link="#" data-count="mail"><span class="trx_addons_icon-mail"></span><i>mail</i></a>
							</span>
							</span>
						</span>
						</span>
					</div>
					</div>
					<div class="post_content entry-content">
						<div class="post_content_inner">
							<p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt</p>
						</div>
						<p><a class="more-link" href="SinglePost">Read more</a></p>
					</div>
				</article>
				<article class="post_item post_layout_excerpt post type-post has-post-thumbnail" data-animation="animated fadeInUp normal">
					<div class="post_featured with_thumb hover_icon"><img width="770" height="481" src="images/image-8-770x481.jpg" alt="A Heart-Winning Combination: Wine, Chocolates and Roses" />
						<div class="mask"></div>
						<div class="icons">
							<a href="SinglePost" aria-hidden="true" class="icon-glass"></a>
						</div>
					</div>
					<div class="post_header entry-header">
						<h3 class="post_title entry-title"><a href="SinglePost" rel="bookmark">A Heart-Winning Combination: Wine, Chocolates and Roses</a></h3>
						<div class="post_meta"> <span class="post_meta_item post_categories"><a href="BlogArchive" rel="category tag">Food Pairings</a>, <a href="BlogArchive" rel="category tag">Panel Tasting</a>, <a href="BlogArchive" rel="category tag">Wine Travel</a></span>
							<span class="post_meta_item post_date"><a href="SinglePost">April 2016</a></span>
							<a href="single-post.html#respond" class="post_meta_item post_counters_item post_counters_comments trx_addons_icon-comment"><span class="post_counters_number">0</span><span class="post_counters_label">Comments</span></a> <span class="post_meta_item post_share"><span class="socials_wrap socials_share socials_size_tiny socials_type_drop socials_dir_horizontal"><a href="#" class="socials_caption"><span class="socials_caption_label">Share</span></a><span
											class="social_items"><span class="social_item social_item_popup"><a href="#" class="social_icons social_twitter" data-link="#" data-count="twitter"><span class="trx_addons_icon-twitter"></span><i>twitter</i></a>
							</span><span class="social_item social_item_popup"><a href="#" class="social_icons social_facebook" data-link="#" data-count="facebook"><span class="trx_addons_icon-facebook"></span><i>facebook</i></a>
							</span><span class="social_item social_item_popup"><a href="#" class="social_icons social_instagram" data-link="#" data-count="gplus"><span class="trx_addons_icon-instagram"></span><i>gplus</i></a>
							</span><span class="social_item social_item_popup"><a href="#" class="social_icons social_tumblr" data-link="#" data-count="tumblr"><span class="trx_addons_icon-tumblr"></span><i>tumblr</i></a>
							</span><span class="social_item social_item_popup"><a href="#" class="social_icons social_mail" data-link="#" data-count="mail"><span class="trx_addons_icon-mail"></span><i>mail</i></a>
							</span>
							</span>
						</span>
						</span>
					</div>
					</div>
					<div class="post_content entry-content">
						<div class="post_content_inner">
							<p>Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat, facere possimus, omnis voluptas assumenda est, omnis dolor repellendus</p>
						</div>
						<p><a class="more-link" href="SinglePost">Read more</a></p>
					</div>
				</article>
				<article class="post_item post_layout_excerpt post type-post has-post-thumbnail" data-animation="animated fadeInUp normal">
		<div class="post_featured with_thumb hover_icon"><img width="770" height="481" src="images/image-3-770x481.jpg" alt="Winemaking – the Process Behind our Award-Winning Wines" />
			<div class="mask"></div>
			<div class="icons">
				<a href="SinglePost" aria-hidden="true" class="icon-glass"></a>
			</div>
		</div>
		<div class="post_header entry-header">
			<h3 class="post_title entry-title"><a href="SinglePost" rel="bookmark">Winemaking – the Process Behind our Award-Winning Wines</a></h3>
			<div class="post_meta"> <span class="post_meta_item post_categories"><a href="BlogArchive" rel="category tag">Buying Guide</a></span>
				<span class="post_meta_item post_date"><a href="SinglePost">April 2016</a></span>
				<a href="single-post.html#respond" class="post_meta_item post_counters_item post_counters_comments trx_addons_icon-comment"><span class="post_counters_number">0</span><span class="post_counters_label">Comments</span></a> <span class="post_meta_item post_share"><span class="socials_wrap socials_share socials_size_tiny socials_type_drop socials_dir_horizontal"><a href="#" class="socials_caption"><span class="socials_caption_label">Share</span></a><span
								class="social_items"><span class="social_item social_item_popup"><a href="#" class="social_icons social_twitter" data-count="twitter"><span class="trx_addons_icon-twitter"></span><i>twitter</i></a>
				</span><span class="social_item social_item_popup"><a href="#" class="social_icons social_facebook" data-count="facebook"><span class="trx_addons_icon-facebook"></span><i>facebook</i></a>
				</span><span class="social_item social_item_popup"><a href="#" class="social_icons social_instagram" data-count="gplus"><span class="trx_addons_icon-instagram"></span><i>gplus</i></a>
				</span><span class="social_item social_item_popup"><a href="#" data-count="tumblr"><span class="trx_addons_icon-tumblr"></span><i>tumblr</i></a>
				</span><span class="social_item social_item_popup"><a href="#" class="social_icons social_mail" data-link="#" data-count="mail"><span class="trx_addons_icon-mail"></span><i>mail</i></a>
				</span>
				</span>
			</span>
			</span>
		</div>
		</div>
		<div class="post_content entry-content">
			<div class="post_content_inner">
				<p>Suspendisse tempor sem in velit maximus, vel vehicula eros lacinia. Praesent pretium, justo lobortis fringilla mattis, diam urna vulputate neque, sed semper metus purus a tortor. Proin at bibendum orci</p>
			</div>
			<p><a class="more-link" href="SinglePost">Read more</a></p>
		</div>
	</article>
			</div>
			<div class="nav-links-more">
				<a class="nav-load-more" href="#" data-page="1" data-max-page="2"><span>Load more posts</span></a>
			</div>
		</div>
		<partial name="~/Views/Shared/_Sidebar.cshtml" />
	</div>
</div>