<div class="sidebar right widget_area" role="complementary">
	<div class="sidebar_inner">
		<aside id="categories-3" class="widget widget_categories">
			<h5 class="widget_title">Category</h5>
			<ul>
				<li class="cat-item cat-item-19"><a href="BlogArchive">Buying Guide</a></li>
				<li class="cat-item cat-item-18"><a href="BlogArchive">Food Pairings</a></li>
				<li class="cat-item cat-item-16"><a href="BlogArchive">Panel Tasting</a></li>
				<li class="cat-item cat-item-23"><a href="BlogArchive">Post Formats</a></li>
				<li class="cat-item cat-item-21"><a href="BlogArchive">Producers</a></li>
				<li class="cat-item cat-item-20"><a href="BlogArchive">Wine Regions</a></li>
				<li class="cat-item cat-item-17"><a href="BlogArchive">Wine Travel</a></li>
			</ul>
		</aside>
		<aside id="search-3" class="widget widget_search">
			<h5 class="widget_title">Search</h5>
			<form role="search" method="get" class="search-form" action="#">
				<label>
					<span class="screen-reader-text">Search for:</span>
					<input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s" />
				</label>
				<input type="submit" class="search-submit" value="Search" />
			</form>
		</aside>
		<aside id="recent-comments-3" class="widget widget_recent_comments">
			<h5 class="widget_title">Comments</h5>
			<ul id="recentcomments">
				<li class="recentcomments">
					<span class="comment-author-link">John Snow</span> on <a href="Product">1837. Cabernet Merlot</a>
				</li>
				<li class="recentcomments">
					<span class="comment-author-link">John Snow</span> on <a href="Product">Centenary Hill Shiraz</a>
				</li>
			</ul>
		</aside>
		<aside id="trx_addons_widget_calendar-2" class="widget widget_calendar">
			<h5 class="widget_title">Calendar</h5>
			<table id="wp-calendar">
				<caption>January 2023</caption>
				<thead>
					<tr>
						<th scope="col" title="Monday">Mon</th>
						<th scope="col" title="Tuesday">Tue</th>
						<th scope="col" title="Wednesday">Wed</th>
						<th scope="col" title="Thursday">Thu</th>
						<th scope="col" title="Friday">Fri</th>
						<th scope="col" title="Saturday">Sat</th>
						<th scope="col" title="Sunday">Sun</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="6" class="pad">&nbsp;</td>
						<td>1</td>
					</tr>
					<tr>
						<td>2</td>
						<td>3</td>
						<td>4</td>
						<td>5</td>
						<td>6</td>
						<td>7</td>
						<td>8</td>
					</tr>
					<tr>
						<td>9</td>
						<td>10</td>
						<td>11</td>
						<td>12</td>
						<td>13</td>
						<td>14</td>
						<td>15</td>
					</tr>
					<tr>
						<td>16</td>
						<td>17</td>
						<td>18</td>
						<td>19</td>
						<td>20</td>
						<td>21</td>
						<td>22</td>
					</tr>
					<tr>
						<td>23</td>
						<td>24</td>
						<td>25</td>
						<td>26</td>
						<td>27</td>
						<td>28</td>
						<td>29</td>
					</tr>
					<tr>
						<td>30</td>
						<td id="today">31</td>
						<td class="pad" colspan="5">&nbsp;</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="3" id="prev"><a href="#">&laquo; May</a></td>
						<td class="pad">&nbsp;</td>
						<td colspan="3" id="next" class="pad">&nbsp;</td>
					</tr>
				</tfoot>
			</table>
		</aside>
		<aside id="recent-posts-3" class="widget widget_recent_entries">
			<h5 class="widget_title">Recent Posts</h5>
			<ul>
				<li>
					<a href="SinglePost">10 Best Rerecipes of Desserts to Pair White Wines</a>
				</li>
				<li>
					<a href="SinglePost">How to Pair Different Wines with Your Favorite Food</a>
				</li>
				<li>
					<a href="SinglePost">Hungarian Wine: Hope, Dreams, Heritage and Progress</a>
				</li>
			</ul>
		</aside>
		<aside id="tag_cloud-3" class="widget widget_tag_cloud">
			<h5 class="widget_title">Tags</h5>
			<div class="tagcloud">
				<a href='#' title='1 topic'>aside</a>
				<a href='#' title='1 topic'>audio</a>
				<a href='#' title='1 topic'>chat</a>
				<a href='#' title='1 topic'>chianti</a>
				<a href='#' title='3 topics'>european</a>
				<a href='#' title='1 topic'>festival</a>
				<a href='#' title='1 topic'>grapes</a>
				<a href='#' title='1 topic'>image</a>
				<a href='#' title='1 topic'>images</a>
				<a href='#' title='1 topic'>italian</a>
				<a href='#' title='1 topic'>launch</a>
				<a href='#' title='1 topic'>link</a>
				<a href='#' title='3 topics'>merlot</a>
				<a href='#' title='1 topic'>New Zealand</a>
				<a href='#' title='1 topic'>pino noir</a>
				<a href='#' title='10 topics'>post formats</a>
				<a href='#' title='1 topic'>presentation</a>
				<a href='#' title='1 topic'>quote</a>
				<a href='#' title='1 topic'>standard</a>
				<a href='#' title='1 topic'>status</a>
				<a href='#' title='1 topic'>video</a>
				<a href='#' title='13 topics'>wine</a>
				<a href='#' title='4 topics'>winery</a>
			</div>
		</aside>
		<aside id="meta-3" class="widget widget_meta">
			<h5 class="widget_title">Meta</h5>
			<ul>
				<li><a href="#">Log in</a></li>
				<li><a href="#">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
				<li><a href="#">Comments <abbr title="Really Simple Syndication">RSS</abbr></a></li>
				<li><a href="#" title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">WordPress.org</a></li>
			</ul>
		</aside>
	</div>
</div>